@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lato&display=swap" rel="stylesheet');

/* Colors
Dark Blue: #123181
Gray Blue: #cdd9d9
Bright Teal: #0dc0b0
white: #fefefe
*/


/* FONTS:
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lato', sans-serif; */






/* setup */
/* /////////////////////////////////////////////////// */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* general */
/* /////////////////////////////////////////////////// */

h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html {
  font-size: 125%;
}

body {
  font-family: 'Lato', sans-serif; 
  font-size: 1rem;
}


p {
  font-family: 'Lato', sans-serif; 
  margin:0; 
  padding:0;
}

img {
  height: 100%;
  max-width: 100%;
  transition: transform .5s;
  width: 100%;
}

img:hover {
  transform: scale(1.25);
  transition: all .5s;
  transform-origin: 50%;
  z-index: 1000;
}


button,
input[type=submit] {
  background-color:#0dc0b0;
  border:none;
  padding:1%;
  transition: background 0.5s ease;
}

button:hover,
input[type=submit]:hover { 
  background-color: #CDD9D9
}

button:focus,
button:active,
input[type=submit]:focus, 
input[type=submit]:active  { 
  background-color: #CDD9D9;
  border: 2px solid #CDD9D9;
}

input[type=text] {
  height:100%;
  padding:1%;
  border:none;
  background-color: #fefefe;
}

input[type=text]:focus, 
input[type=text]:active {
  border: 2px solid #CDD9D9;
}


.wrapper {
  /* placeholder values for margin. please feel free to adjust it! */
  background-color: #123181;
  padding: 0 7.5%;
}

/* react-slick dot and arrow styling. */
.slick-dots li button::before {
  font-size: .8rem;
  color: #CDD9D9;
  opacity: 0.7;
}

.slick-dots li.slick-active button::before {
  /* color: #CDD9D9; */
  color: #0DC0B0;
  opacity: 1;
}

.slick-next:before,
.slick-prev:before {
  color: #CDD9D9;
  font-size: 2.5rem;
}

.slick-next,
.slick-prev {
  height: 50px;
  width: 50px;
}

.slick-next {
  right: -55px;
}

.slick-prev {
  left: -55px;
}

.slick-initialized .slick-slide {
  width: 220px;
}

/* header */
/* /////////////////////////////////////////////////// */
.hero {
  background: linear-gradient(rgba(18, 49, 129, .9), rgba(0, 0, 0, .7)), url(./assets/tvPosterCollageTwoMin.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}
/* #123181 */

h1 {
  color: #cdd9d9;
  font-family: 'Fjalla One', sans-serif;
  font-size: 3.5rem;
  margin:0;
  padding:0;
  text-shadow: 4px 3px 0 #123181;
}

.slogan {
  color: #CDD9D9;
  font-size: 1rem;
}

.appInfo, 
.searchForm {
  width:50%;
}

.headerSearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
}

.searchForm {
  width:50%;
  text-align: right;
}

.searchForm input[type=text] {
  width: 50%;
}

.searchForm input[type=submit] {
  width: 25%;
}

.showResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.showPoster {
  height:300px;
  overflow: hidden;
  /* padding: 0% 2%; */
  transition: all ease-in .5s;
  width:200px;
}

.showPoster:active,
.showPoster:focus,
.showPoster:hover {
  border: 3px solid #0DC0B0;
  transition: all ease-in-out .5s;
}

/* modal styling */
/* /////////////////////////////////////////////////// */

.showModal {
  display: flex;
}

.modalImage {
  display: flex;
  height: 100%;
  overflow: hidden;
  transition: all ease-in .5s;
  width: 50%;
}

.modalText {
  padding: 2.5%;
  width: 100%;
}

.modalButtons {
  margin-top: 5%;
}

.clickClose {
  background: none;
  left: 64.5%;
  padding: 0.5%;
  position: absolute;
  top: 72.5%;
}

.clickAdd {
  border-radius: 10px;
  padding: 2%;
}


/* .showModal {
  width:400px;
  height:400px;
  position: absolute;
  background-color: tomato;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

.showModal {
  margin: 8% auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 75%;
  height: 500px;
  background-color:#CDD9D9;
  border: 4px solid #123181;
  top:0;
  right:0;
  left:0;
  bottom:0;
}
.modalRight {
  width:40%;
}
.modalLeft {
  width:60%;
  padding: 1%;
  position: relative;
}



/* =============================================== */
/* List Creator */
/* =============================================== */
.listCreator {
  background-color: #cdd9d9;
  border: 2px solid red;
  display: flex;
  /* height: 400px; */
  margin-top: 5%;
}

/* .listWrapper,
.modalWrapper {
  width: 50%;
} */
.listWrapper {
  width: 30%;
}

.modalWrapper {
  width: 70%;
}

.formWrapper {
  text-align: right;
}

.selectedTitles {
  height: 100%;
}

.showSelection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.showSelection li {
  display: flex;
  justify-content: space-between;
}

/* community list section */
/* /////////////////////////////////////////////////// */
.communityListTitle {
  text-align: center;
  padding: 2%;
}
.communityList {
  border: 2px solid dodgerblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.completeList {
  /* border: 2px solid coral; */
  background-color: coral;
  border-radius: 15px;
  width: 21%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  padding: 1%;
}
.completeList h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 5% 0;
  font-size: 1.3rem;
}
.showTitleAndVote {
  border-top: 2px solid white;
  display: flex;
  align-items: center;
}
.showTitleAndVote h4 {
  border: 2px solid coral;
  width: 65%;
  font-size: 1.1rem;
}
.votesAndButtons {
  border: 2px solid coral;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.votesAndButtons p {
  padding: 5% 0;
}
.votesButtons {
  display: flex;
  /* border: 2px solid blue; */
  justify-content: space-between;
}
.votesButtons button {
  /* border: 2px solid red; */
  /* background-color: lightgray; */
  margin: 2% 0;
  border: none;
}
.votesButtons .upvote {
  background-color: green;
} 
.votesButtons .downvote {
  background-color: firebrick;
} 
