img {
  max-width: 100%;
  width:100%;
}

.showLists{
  position: relative;
}

.showResults {
  display: flex;
  flex-wrap:wrap;
}
.showPoster {
  width:200px;
  height:300px;
}

.showModal {
  width:400px;
  height:400px;
  position: absolute;
  background-color: tomato;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

.listCreator {
  width:500px;
  height: 400px;
  border: 2px solid red;
}